<div class="modal-header">
  <h4 class="modal-title">Potwierdź</h4>
</div>
<div class="modal-body">
  <p>Czy jesteś pewny, że chcesz usunać użytkownika?</p>
</div>
<div class="modal-footer">
  <!-- <div class="row"> -->
    <!-- <div class="col-md-6"> -->
      <a type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Anuluj</a>
    <!-- </div> -->
    <!-- <div class="col-md-6"> -->
      <a type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Potwierdź</a>
    <!-- </div> -->
  <!-- </div> -->
</div>
