<div class="background"></div>
<div class="body">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <h1 class="text-center">USERS MANAGER</h1>
        <div class="card shadow-sm mt-5" style="width: 100%;">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="card-header">
              <h5 class="text-center">Logowanie</h5>
            </div>
            <div class="card-body">
              <div class="alert alert-info" role="alert">
                <p><strong>Dane do logowania</strong></p>
                <p>Użytkownik: user@domain.com:user</p>
                <p>Admin: admin@domain.com:admin123</p>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" [ngClass]="{'is-invalid': form.submitted && mailRef.invalid}" id="basic-addon1"><i class="fa fa-user"
                      aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  [ngClass]="{'is-invalid': form.submitted && mailRef.invalid}" placeholder="Adres E-mail"
                  aria-label="Adres E-mail" aria-describedby="basic-addon1" name="mail" [(ngModel)]="mail"
                  #mailRef="ngModel">
                <div class="invalid-feedback" *ngIf="form.submitted && mailRef.invalid && mailRef?.errors.required">
                  Adres E-mail jest wymagany
                </div>
                <div class="invalid-feedback" *ngIf="form.submitted && mailRef.invalid && mailRef?.errors.pattern">
                  Niepoprawny adres E-mail
                </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" [ngClass]="{'is-invalid': form.submitted && passwordRef.invalid}" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <input type="password" class="form-control" required minlength="8"
                  [ngClass]="{'is-invalid': form.submitted && passwordRef.invalid}" placeholder="Hasło"
                  aria-label="Hasło" aria-describedby="basic-addon2" name="password" [(ngModel)]="password"
                  #passwordRef="ngModel">
                <div class="invalid-feedback"
                  *ngIf="form.submitted && passwordRef.invalid && passwordRef?.errors.required">
                  Hasło jest wymagane
                </div>
                <div class="invalid-feedback"
                  *ngIf="form.submitted && passwordRef.invalid && passwordRef?.errors.minlength">
                  Hasło musi posiadać minimum 8 znaków
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <button type="submit" class="btn btn-outline-dark">Zaloguj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
