<div class="weather-today">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">{{ city }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">{{ temp }}&deg;C</h3>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">{{ humidity }}%</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="text-center title">Temperatura</p>
    </div>
    <div class="col-md-6">
      <p class="text-center title">Wilgotność</p>
    </div>
  </div>
</div>
