.form-group:last-child {
  margin-bottom: 0;
}

.card {
  height: 100%;

  .password-container {
    height: 100%;
    width: 100%;
  }
}

.btn-option {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;

  a,
  a:hover,
  a:active,
  a:focus {
    color: #222;
  }
}
