.main {
  background-color: rgb(242, 244, 246);
  min-height: 100vh;
}

.body {
    margin-top: 72px;
}

.header-shadow {
  box-shadow: rgba(4, 9, 20, 0.03) 0px 0.46875rem 2.1875rem, rgba(4, 9, 20, 0.03) 0px 0.9375rem 1.40625rem, rgba(4, 9, 20, 0.05) 0px 0.25rem 0.53125rem, rgba(4, 9, 20, 0.03) 0px 0.125rem 0.1875rem;
}
