<div class="modal-header">
  <h4 class="modal-title">Generowanie hasła</h4>
</div>
<div class="modal-body">
  <form class="mb-3">
    <div class="form-group">
      <label for="formControlRange">Ilość znaków <strong>({{ lengthPassword }})</strong></label>
      <input type="range" class="form-control-range" id="formControlRange" min="8" max="32" name="lengthPassword" [(ngModel)]="lengthPassword">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="charsRepeating" [(ngModel)]="charsRepeating">
      <label class="form-check-label" for="exampleCheck1">Powtarzaj znaki</label>
    </div>
    <button type="submit" class="btn btn-outline-dark" (click)="onPasswordGenerateClick()">Wygeneruj</button>
  </form>
  <div class="form-group">
    <label for="generatedPassword">Uzyskane hasło</label>
    <input readonly type="email" class="form-control" id="generatedPassword" [(ngModel)]="newPassword">
  </div>
</div>
<div class="modal-footer">
  <a type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Anuluj</a>
  <a type="button" class="btn btn-outline-success" (click)="onSave()">Zmień</a>
</div>
