<div class="weather-other-day">
  <div class="row">
    <div class="col text-center weather-day">
      <div class="row">
        <div class="col">
          <span>3&deg;C</span>
          <span class="legend">min</span>
        </div>
        <div class="col">
          <span>3&deg;C</span>
          <span class="legend">maks</span>
        </div>
      </div>
      <div class="row">
        <div class="col">Thu</div>
      </div>
    </div>
    <div class="col text-center weather-day">
      <div class="row">
        <div class="col">
          <span>3&deg;C</span>
          <span class="legend">min</span>
        </div>
        <div class="col">
          <span>3&deg;C</span>
          <span class="legend">maks</span>
        </div>
      </div>
      <div class="row">
        <div class="col">Thu</div>
      </div>
    </div>
    <div class="col text-center weather-day">
      <div class="row">
        <div class="col">
          <span>3&deg;C</span>
          <span class="legend">min</span>
        </div>
        <div class="col">
          <span>3&deg;C</span>
          <span class="legend">maks</span>
        </div>
      </div>
      <div class="row">
        <div class="col">Thu</div>
      </div>
    </div>
  </div>
</div>
