/* You can add global styles to this file, and also import other style files */

.card-header, .card-footer {
    background-color: #fff;
}

.card {
    color: #222;
    border: none;

    h5 {
        font-family: Poppins;
        font-weight: 500;
        margin: 0;
    }
}

button {
    width: 100%;
}